.App {
}

.header {
  display: flex;
  align-items: center;
  min-width: 100vw;
  min-height: 10vh;
  padding: 1rem;
  background: rgb(0, 0, 0, 0.9);
  min-height: 10vh;
  justify-content: space-around;
}

.home {
  min-height: 90vh;
  background: url(./static/img/backgroundE.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.contact {
  min-height: 90vh;
}

.infoContactUs {
}

.mainAd {
  background: rgb(0, 0, 0, 0.9);
}

.footer {
  background: rgb(0, 0, 0, 0.9);
}

nav {
  color: white;
  font-weight: bolder;
}

a {
  color: white;
  margin-right: 3rem;
  text-decoration: none;
}

.active-cart {
  background: rgba(0, 0, 0, 0.5);
}

.cart {
  width: 40vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
